flows.json
[
    {
        "id": "2129ab38.d49aac",
        "type": "mqtt out",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "topic": "home/outdoor/cistern/pump",
        "qos": "2",
        "retain": "false",
        "broker": "89c47141.2fd35",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "9cf8876a.0044f8",
        "type": "ui_switch",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "label": "Automatikmodus 06:00 / 5 Min.",
        "tooltip": "",
        "group": "7fa849ed.24f2d8",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "suspended false",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "suspended true",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "5f8d08de.25cd48"
            ]
        ]
    },
    {
        "id": "7d4c011c.09fa5",
        "type": "function",
        "z": "93677e9e.8e6ed8",
        "name": "Create messages",
        "func": "if (msg.payload === \"on\" && msg.topic === \"home/outdoor/cistern/automatic\") {\n    msg.topic = \"[INFO] Automatische Bewässerung gestartet\";\n    msg.payload = \"Die automatische Bewässerung wurde gestartet.\";\n}\nelse if (msg.payload === \"off\" && msg.topic === \"home/outdoor/cistern/automatic\"){\n msg.topic = \"[INFO] Automatische Bewässerung beendet\";\n    msg.payload = \"Die automatische Bewässerung wurde beendet.\";\n}\nelse if (msg.payload === \"on\" && msg.topic === \"home/outdoor/cistern/pump/trigger\") {\n    msg.topic = \"[INFO] Manuelle Bewässerung gestartet\";\n    msg.payload = \"Die manuelle Bewässerung wurde gestartet.\";\n}\nelse if (msg.payload === \"off\" && msg.topic === \"home/outdoor/cistern/pump/trigger\"){\n msg.topic = \"[INFO] Manuelle Bewässerung beendet\";\n    msg.payload = \"Die manuelle Bewässerung wurde beendet.\";\n}\nelse if (msg.payload === \"off\" && msg.topic === \"timeout\"){\n msg.topic = \"[INFO] Manuelle Bewässerung wurde nach Timeout beendet\";\n    msg.payload = \"Die manuelle Bewässerung wurde nach Timeout beendet.\";\n}\nelse {\n msg.topic = \"\";\n    msg.payload = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "e1fb0741.132488"
            ]
        ]
    },
    {
        "id": "95ef85c1.616238",
        "type": "ui_switch",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "label": "Automatikmodus 21:00 / 5 Min.",
        "group": "7fa849ed.24f2d8",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "suspended false",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "suspended true",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "19d03e7d.118292"
            ]
        ]
    },
    {
        "id": "5f8d08de.25cd48",
        "type": "schedex",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "suspended": false,
        "lat": "49.9014",
        "lon": "8.2986",
        "ontime": "06:00",
        "ontopic": "home/outdoor/cistern/automatic/morning",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": false,
        "offtime": "06:05",
        "offtopic": "home/outdoor/cistern/automatic/morning",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 768,
        "y": 500,
        "wires": [
            [
                "8ceb7159.cab1f8"
            ]
        ]
    },
    {
        "id": "19d03e7d.118292",
        "type": "schedex",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "suspended": false,
        "lat": "49.9014",
        "lon": "8.2986",
        "ontime": "21:00",
        "ontopic": "home/outdoor/cistern/automatic/evening",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": false,
        "offtime": "21:05",
        "offtopic": "home/outdoor/cistern/automatic/evening",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 768,
        "y": 560,
        "wires": [
            [
                "8ceb7159.cab1f8"
            ]
        ]
    },
    {
        "id": "8ceb7159.cab1f8",
        "type": "stoptimer",
        "z": "93677e9e.8e6ed8",
        "duration": "500",
        "units": "Second",
        "payloadtype": "str",
        "payloadval": "off",
        "name": "max. 500 sec. off",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "7d4c011c.09fa5",
                "a45b858f.6b4be8",
                "2129ab38.d49aac"
            ],
            [
                "7c4211d8.0450e"
            ]
        ]
    },
    {
        "id": "7e4dd878.3e3388",
        "type": "comment",
        "z": "93677e9e.8e6ed8",
        "name": "automatic module",
        "info": "",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c4211d8.0450e",
        "type": "function",
        "z": "93677e9e.8e6ed8",
        "name": "check pump state",
        "func": "cistern_pump_state = global.get(\"gv_cistern_pump_state\");\n\nif (msg.payload === \"off\" && cistern_pump_state == \"on\"){\n    msg.topic = \"timeout\"\n    msg.payload = \"off\";\n    return msg;\n    }",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "7d4c011c.09fa5",
                "2129ab38.d49aac"
            ]
        ]
    },
    {
        "id": "d122e2c7.4eeb9",
        "type": "mqtt in",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "topic": "home/outdoor/cistern/automatic/morning",
        "qos": "2",
        "datatype": "auto",
        "broker": "89c47141.2fd35",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "9cf8876a.0044f8"
            ]
        ]
    },
    {
        "id": "e1fb0741.132488",
        "type": "function",
        "z": "93677e9e.8e6ed8",
        "name": "msg.payload to telegram",
        "func": "msg.payload = {\n    chatId : '-396221247', \n    type : 'message', \n    content : msg.payload,\n    options : {\n        disable_notification: true\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "60e8b326.38ae9c",
                "28009042.7f2fb"
            ]
        ]
    },
    {
        "id": "a45b858f.6b4be8",
        "type": "change",
        "z": "93677e9e.8e6ed8",
        "name": "Set global variable cistern_pump_state",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "gv_cistern_pump_state",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed5501c.c766c",
        "type": "mqtt in",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "topic": "home/outdoor/cistern/pump/trigger",
        "qos": "2",
        "datatype": "auto",
        "broker": "89c47141.2fd35",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "8ceb7159.cab1f8"
            ]
        ]
    },
    {
        "id": "629260db.a674a",
        "type": "mqtt in",
        "z": "93677e9e.8e6ed8",
        "name": "",
        "topic": "home/outdoor/cistern/automatic/evening",
        "qos": "2",
        "datatype": "auto",
        "broker": "89c47141.2fd35",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "95ef85c1.616238"
            ]
        ]
    },
    {
        "id": "28009042.7f2fb",
        "type": "debug",
        "z": "93677e9e.8e6ed8",
        "name": "Replace with your Telegram or E-Mail node",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1710,
        "y": 340,
        "wires": []
    },
    {
        "id": "89c47141.2fd35",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt.filipnet.de",
        "broker": "mqtt.filipnet.de",
        "port": "8883",
        "tls": "dab1e87b.a61058",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7fa849ed.24f2d8",
        "type": "ui_group",
        "z": "",
        "name": "Bewässerung",
        "tab": "fad00930.248848",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dab1e87b.a61058",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "fad00930.248848",
        "type": "ui_tab",
        "z": "",
        "name": "Bewässerung",
        "icon": "local_florist",
        "order": 3
    }
]